header{
    background-image: url(https://github.com/Adam0Ray/workout-app-capstone-adam/blob/master/static/headerPhoto.jpeg?raw=true);
    border:2px solid greenyellow;
    border-width: 2px;
    height: 30vh;
}
.views{
    font: play;
    font-size: 18;
    display: inline;
}
h1 {color: white;
    font-size: 64;
    stroke: 2;
    }

h2 {color: white;
    font-size: 36;
    stroke: 2;
    margin: 5px;
}

p{color: white;
    font-size: 24;
    stroke: 2;

}

* {
    margin: 0;
    padding: 0;
    font-family: play;
}


body {background-image: url(https://github.com/Adam0Ray/workout-app-capstone-adam/blob/master/static/backgroundPhoto.jpeg?raw=true);

}

.flex-container{
    display: flex;
    flex-wrap: nowrap;
}

.flex-container #formId {
    width: 300px;
    height: 475px;
    float: left;
    position: absolute;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    margin: 20px;
    z-index: 201;
}

.flex-container #video-locator { 
    position: relative;
    float: right;
    top: 0px;
    left: 310px;
    width: 50%;
    height: 50%;
    padding: 20px;
    visibility: visible; 
    z-index: 200; 
    object-fit: cover;
}

input {
    width: 95%;
    height: 25px;
    border:2px solid black;
    color: #000000;
    background-color: greenyellow;
    margin: 5px;
}
button {
    background-color: #232323;
    width: 100px;
    height: 30px;
    color: greenyellow;
    border: none;
    margin: 5px;
}
footer{
    border:2px solid greenyellow;
    border-width: 2px;
    animation-name: example;
    animation-duration: 20s;
    animation-iteration-count: 4;
    }
@keyframes example {
    0%   {background-color:black}
    25%  {background-color: darkgrey;}
    50%  {background-color:black;}
    75%  {background-color: darkgrey;} 
    100% {background-color:black;}
    } 
#workout-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: top;
    
}
.card {
    background-color:grey;
    color: white;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: left;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 5px;
    padding: 10px;

}